.jp-OutputWidgetJSONTable, .jp-DocWidgetJSONTable {
  width: 100%;
  padding: 0;
}

.jp-OutputWidgetJSONTable {
  margin-top: 5px;
  max-height: 360px;
}

.jp-DocWidgetJSONTable {
  overflow: auto;
}

.jp-DocWidgetJSONTable .jp-mod-error {
  width: 100%;
  min-height: 100%;
  text-align: center; 
  padding: 10px; 
  box-sizing: border-box;
}

.jp-DocWidgetJSONTable .jp-mod-error h2 {
  font-size: 18px; 
  font-weight: 500; 
  padding-bottom: 10px;
}

.jp-DocWidgetJSONTable .jp-mod-error pre {
  text-align: left; 
  padding: 10px; 
  overflow: hidden;
}
